.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.commentBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTimestamp strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTimestamp time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
  transition: color 0.1s ease-in-out;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}



.commentBox footer button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.commentBox footer button:hover {
  color: var(--green-300);
  background: var(--gray-700);

}

.commentBox footer button span {
  content: " "
}

.commentBox footer button span::before {
  padding-right: 0.5rem;
  content: "\2022";
}
